version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: error-library-postgres
    ports:
      - "51213:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: